-
  var cfg = {
    "brand": {
      "name": "Dafel",
      "logoSmall": "<img style='margin-top: -7px;' width='128' height='24' src='images/logo-dark.png' alt=''/>",
      "logoBig": "<img width='128' height='64' src='images/logo.png' alt=''/>",
      "logo": "<img style='margin-top: -10px;' width='164' height='29' src='images/logo-light.png' alt=''/>",
      "logoDark": "<img style='margin-top: -10px;' width='164' height='29' src='images/logo-dark.png' alt=''/>",
      "logoInverse": "<img style='margin-top: -10px;' width='164' height='29' src='images/logo-light.png' alt=''/>",
      "svgDivider": '<svg width="135" height="2" viewBox="0 0 134 2"><line x1="0" y1="2" x2="134" y2="2" style="stroke: #8d8d8d; stroke-width: 4;"/></svg>',
      "href": "index.html"
    },
    "nav": {
      "home": {
        "title": "Home",
        "href": "index.html"
      },
      "empresa": {
        "title": "Empresa",
        "href": "empresa.html",
        "submenu": {
          "empresa": {
            "title": "História",
            "href": "empresa.html#historia"
          },
          "unidades": {
            "title": "Unidades",
            "href": "empresa.html#unidades"
          }
        }
      },
      "produtos": {
        "title": "Produtos",
        "href": "produtos.html"
      },
      "cortedobra": {
        "title": "O Corte e Dobra",
        "href": "corte-dobra.html"
      },
      "contato": {
        "title": "Contato",
        "href": "contato.html"
      },
      "trabalhe": { 
        "title": "Trabalhe Conosco",
        "href": "trabalhe-conosco.html"
      }
    }
  }